{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block title %}
  Cadastro de Produtos
{% endblock %} 
{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>  
  <script src="{% static 'products/js/createUpdate.js' %}"></script>
{% endblock  %}
{% block content %} 
  <h2 class="mb-3">Cadastro de Produtos</h2>
  <form method="post"  enctype="multipart/form-data">
    {% include "partials/_form_non_field_errors.html" %}

    {% csrf_token %}
    <div class="row mb-3">
      <div class="col">
        {{ form.name|as_crispy_field }}
      </div>
    </div>
    <div class="row mb-3">
      {{ form.description|as_crispy_field }}
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        {{ form.category|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.sale_price|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.expiration_date|as_crispy_field }}
      </div>
    </div>
    
    <div class="d-grid mb-3">
      {{ form.photo|as_crispy_field }}
    </div>

    <h3>Fornecedores</h3>
    <div id="supplierFormset">
      {{ supplier_product_formset.management_form }}
      {% for form in supplier_product_formset %}
        <div class="row">
          {{ form.id }}
          <div class="col-md-5">
            {{ form.supplier|as_crispy_field }}
          </div>
          <div class="col-md-5">
            {{ form.price|as_crispy_field }}
          </div>
          <div class="col-md-2">
            <div class="d-grid">
              <button 
                type="button" 
                class="btn btn-danger remove-btn"
              >
                <i class="bi bi-x"></i>
              </button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="d-grid mb-3">
      <button type="button" id="addSupplierButton" class="btn btn-outline-secondary">Adicionar fornecedor</button>
    </div>

    {% include "partials/_submit_button.html" %}
  </form>
{% endblock %}
