{% if page_obj.paginator.num_pages > 1 %}
    <nav aria-label="Paginação da página">
        <ul class="pagination justify-content-end">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}" class="page-link" aria-label="Anterior">&laquo;</a>
            </li>
            {% endif %}
            <li class="page-item active">
            <span class="page-link">{{ page_obj.number }}</span>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}" class="page-link" aria-label="Próximo">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}