main {
    height: 100vh;
}

.btn-sticky-bottom {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

::-webkit-scrollbar {
    width: 5px;
}   
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(186, 186, 186); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}